.Input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	display: block;
}

.Label {
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
}

.InputElement {
	outline: none;
	border: 1px solid #ccc;
	background: #fff;
	font: inherit;
	padding: 6px 10px;
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-radius: 4px;
}

.InputElement:focus {
	outline: none;
	background: #fff;
	border: 1px solid rgb(160, 160, 160);
}

.Invalid,
.InputElement:focus.Invalid {
	border: 1px solid rgb(253, 69, 125);
	background: rgb(255, 216, 212);
}
